@using Microsoft.AspNetCore.Http;
@using ASPNET3.Herramientas;
@using ASPNET3.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br/>


<h1>Ejemplos de sesión</h1>
<h3>Datos primitivos</h3>
Cantidad: @Context.Session.GetInt32("cantidad")
<br />
Usuario: @Context.Session.GetString("usuario")
<br />